
<a class="navbar-brand" href="https://www.op.gg/summoner/userName=ColossusKing">
    <img src="images/profileicon.jpg" alt="icon" style="width:48px;">
</a>
<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="home.html">Main</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="home_game.html">Games</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Dropdown link
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="home_movie.html">movie</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-success my-2 my-sm-0" type="button" href="home_login.html">login</a>
    </form>
</div>
