{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">

    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'font.css' %}">
	<link rel="stylesheet" media="screen" type="text/css" href="../static/common.css?ver=3">
    <link rel="stylesheet" media="screen and (max-width:660px)"  type="text/css" href="../static/common-mobile.css?ver=23">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <title>경기지역화폐</title>

    <!-- jQuery JS-->
    <script src="../static/jquery.imagemapster.js"></script>
    <script src="../static/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="../static/bootstrap.min.js"></script>

    <script type='text/javascript'>
        function getDisplayInfo() {
            var size = {
              width: window.innerWidth || document.body.clientWidth,
              height: window.innerHeight || document.body.clientHeight
            }
            return size;
        }
        $(document).ready(function() {
            $(".city-link").on ('click', function(){
            $("#city").val($(this).data("id"));
            $("#cityForm").submit();
            });
        });
        $(document).ready(function() {
            let rand_1_5 = Math.floor(Math.random() * 5) + 1;
            if(getDisplayInfo().width<660){
                $('#main_body').css({'background-image': 'url(static/narrow0' + rand_1_5 + '.jpg)'});
                $('#mainpage-clickmap').remove();

            }else{
                $('#main_body').css({'background-image': 'url(static/wide0' + rand_1_5 + '.jpg)'});
                $('#mainpage-citylist').remove();
            }
        });

        function changeimg(img){
            var asd=document.getElementById('mainpage-logo-div-img');
            var asdf=document.getElementById('poly연천');
            $("#poly연천").css({'opacity':'0'});
            asd.src=img;
        }




    </script>
</head>
<!--background-image:url('static/wide01.jpg');-->
<body id="main_body" style="background-size:100% 100%">
    <div id="mainpage" class="container-fluid">

        <div id="mainpage-logo">
            <div id="mainpage-logo-div">
                <img id="mainpage-logo-div-img" class="logo" src="{% static 'logo4_border.png' %}"><br><br>
                {%if not user.is_authenticated %}
                <a class="btn btn-light" href="{% url 'common:login' %}?next={{request.path}}">로그인</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="btn btn-light" href="{% url 'common:signup' %}?next={{request.path}}">회원가입</a>
                {% else %}

                <div style=" width:230px; font-size:18px; background-color:black; ctext-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;color:whitesmoke; margin:auto; margin-bottom:1%">{{request.user}}님 환영합니다!</div>
                <a class="btn btn-light" href="{% url 'common:logout' %}?next={{request.path}}">로그아웃</a>
                <a class="btn btn-light" href="{% url 'mypage:index' %}?next={{request.path}}">마이페이지</a>
                {% endif %}
            </div>
        </div>
        <div id="mainpage-clickmap" >
            <br>
            <div class="mainpage-font-small">* 김포시, 성남시, 시흥시는 각각의 지자체 페이지로 연결됩니다. *</div>
            <div style="align-items: center;">
                <img src="{% static 'mapp-removebg.png' %}" usemap="#image-map" id="ggmap"  style="animation: MyDiv; animation-duration: 1s; animation-iteration-count: 2; animation-timing-function: cubic-bezier(.05, .8, .1, .95);">
                <!-- Image Map Generated by http://www.image-map.net/ -->
                <map name="image-map" id="mapimagehover">
                    <area id="poly연천" href="{% url 'maps:shop_list' %}?city=연천군" coords="223,160,210,171,191,165,188,175,177,166,164,174,152,167,164,165,168,151,189,136,186,112,219,101,222,72,249,57,271,33,278,52,290,55,305,80,302,91,307,133,281,138,288,156,277,172,252,171,234,192,219,186,239,167" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=파주시" coords="220,185,238,168,221,160,211,170,192,165,186,174,179,165,166,172,152,203,134,168,123,182,105,177,105,192,135,218,105,239,106,271,110,291,108,300,145,297,147,287,171,284,193,286,197,276,203,278,196,244,209,238,209,212,215,198" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=양주시" coords="219,187,233,190,236,209,280,227,285,245,276,252,276,262,258,266,239,264,233,272,243,295,240,301,218,303,206,314,200,304,204,280,197,243,208,238,209,211" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=동두천시" coords="271,170,252,171,234,194,236,209,280,226,296,216,300,205,281,182,277,176" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=고양시" coords="170,284,192,285,196,276,205,279,201,290,199,304,207,313,218,305,240,303,235,322,221,319,209,328,204,347,187,359,171,349,106,307,106,301,145,297,146,287" shape="poly">
                    <area target="" alt="" title="" href="https://www.gimpo.go.kr/portal/selectBbsNttList.do?bbsNo=573&key=1283" coords="168,348,164,360,145,350,136,354,104,339,96,352,63,354,48,340,54,270,83,270,101,260,108,269,109,292,106,302,107,308,133,323" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=의정부시" coords="245,297,232,272,239,264,256,267,275,263,293,271,294,282,274,299,259,308" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=포천시" coords="327,99,303,85,301,92,307,129,281,138,287,156,274,173,298,202,298,214,280,226,285,245,275,253,277,261,290,272,297,269,323,269,341,261,338,229,353,217,358,199,370,198,376,192,375,176,413,138,414,114,382,107,369,117,343,89" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=가평군" coords="409,140,375,175,376,190,368,197,357,196,355,215,339,229,342,260,357,267,363,286,379,306,377,316,388,318,398,311,404,314,406,325,416,327,423,357,453,347,451,320,454,292,434,288,445,274,443,239,469,224,473,196,449,184,439,160,423,159" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=남양주시" coords="294,270,323,269,340,260,358,267,364,288,379,307,380,319,360,364,356,378,349,387,332,359,313,353,317,342,307,333,300,314,280,315,274,301,295,282" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=구리시" coords="313,339,315,356,288,364,280,338,280,316,299,313" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=하남시" coords="311,353,312,368,299,384,304,402,327,402,334,390,351,384,334,358" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=광주시" coords="361,365,354,381,334,389,328,402,303,402,311,420,302,431,304,441,290,460,310,461,314,465,319,457,327,455,344,463,341,469,343,498,366,498,370,480,383,470,410,448,397,438,380,412,390,403,384,382,373,375" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=양평군" coords="361,364,380,317,389,319,399,311,406,313,409,324,416,326,425,356,454,347,459,342,466,335,479,337,506,356,527,354,558,369,557,380,537,394,549,424,540,446,514,449,509,431,501,427,464,430,449,427,441,418,426,418,416,424,402,417,388,424,381,411,389,404,384,383" shape="poly">
                    <area target="" alt="" title="" href="https://www.seongnam.go.kr/prgm/slove/sloveAgentList.do?menuIdx=1000329" coords="312,419,302,431,305,440,292,459,273,462,246,451,246,420,250,410,265,419,279,404,301,403" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=과천시" coords="230,403,217,414,223,433,234,430,241,433,245,431,245,420,249,409,237,400" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=여주시" coords="388,423,396,435,405,444,410,450,430,459,442,472,441,521,440,529,448,534,464,537,480,557,481,563,501,573,508,557,520,528,521,509,530,496,529,481,527,470,537,444,514,448,509,432,501,426,464,429,448,426,440,417,425,417,416,424,401,417" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=이천시" coords="408,449,388,468,369,480,366,495,361,500,363,515,367,522,395,551,401,549,433,565,437,573,438,581,429,599,429,604,446,616,462,606,462,597,478,589,483,565,480,557,464,536,448,533,440,529,442,472,430,458" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=안성시" coords="400,548,393,550,394,557,397,566,397,572,392,574,381,571,368,560,360,558,349,564,342,555,335,548,332,553,332,558,320,562,308,572,286,574,278,579,285,590,286,596,279,603,284,608,291,613,294,621,289,630,288,638,291,644,308,648,321,663,334,669,345,676,350,672,356,664,365,663,384,659,393,641,393,631,406,626,428,606,428,599,437,578,433,564" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=용인시" coords="327,454,319,455,314,464,308,459,289,458,274,462,246,450,241,456,240,465,245,476,250,482,263,484,263,491,266,499,259,507,265,518,288,518,295,526,296,536,288,536,286,544,278,549,276,568,279,579,287,575,310,572,319,562,333,557,331,551,336,548,349,563,360,557,367,558,381,571,392,573,397,570,394,560,393,548,367,523,363,515,361,498,343,497,341,468,345,464" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=평택시" coords="278,551,272,546,262,551,238,553,233,558,234,572,225,582,210,583,190,583,179,601,160,615,164,623,157,628,174,639,180,646,180,653,200,665,205,672,225,667,241,660,276,656,284,644,292,645,287,637,288,631,293,620,290,612,280,602,285,595,285,587,279,577,276,567" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=오산시" coords="269,547,260,541,257,529,248,519,245,522,238,519,234,523,225,525,217,534,218,540,233,556,244,552,260,552" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=화성시" coords="278,551,281,549,285,544,289,536,296,535,294,526,288,516,266,517,258,506,237,506,234,510,230,507,222,508,212,504,213,497,204,489,200,480,182,489,175,495,157,496,143,492,126,497,118,501,114,508,121,528,125,537,116,550,124,567,130,578,133,591,138,600,138,606,146,612,152,610,159,614,179,600,190,582,225,582,234,570,233,554,221,541,218,533,225,524,233,523,238,518,245,521,250,520,256,528,258,539,270,548,268,549,277,549,278,551" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=수원시" coords="213,496,205,490,198,479,209,469,216,458,219,464,225,463,234,460,241,458,240,465,242,472,250,482,262,484,262,491,265,498,258,506,236,505,236,510,225,508,213,504,212,499" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=의왕시" coords="245,431,242,435,236,429,225,432,226,440,214,447,208,456,191,476,184,480,187,486,198,480,208,470,217,458,220,463,226,463,232,462,241,459,247,450" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=안양시" coords="218,414,207,418,200,418,196,414,184,433,179,438,186,442,184,447,188,455,194,456,200,458,201,463,208,456,211,450,225,438" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=광명시" coords="194,417,192,402,183,403,172,403,169,398,166,402,170,414,170,422,174,433,178,437,185,432" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=부천시" coords="169,397,165,401,148,404,133,397,134,370,145,361,159,362,164,369,175,373,174,387" shape="poly">
                    <area target="" alt="" title="" href="https://www.si-ru.kr/?inc=store" coords="165,401,148,404,138,407,110,452,116,464,126,468,148,458,154,452,178,455,186,442,178,437,174,434,171,420,170,412" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=군포시" coords="178,454,168,453,160,465,162,470,173,472,183,480,194,473,204,463,200,457,189,454,183,446" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=안산시" coords="159,465,168,453,154,450,149,457,124,468,125,474,144,492,157,495,174,494,180,489,188,486,183,480,173,470,162,472" shape="poly">
                    <area target="" alt="" title="" href="{% url 'maps:shop_list' %}?city=안산시" coords="108,507,100,506,81,506,81,518,77,538,88,531,101,531,108,534,115,534" shape="poly">
                </map>
            </div>
        </div>
        <div id="mainpage-citylist">
            <div class="test">
                <div class="mainpage-font-small">* 가맹점 폐업 또는 업종변경, 가맹점 정보변경 등으로 현재 정보와 다를 수 있으니 매장에 사용 가능 여부를 확인하기 바랍니다. *</div>
                <br>
                <div class="city_list">
                    <ul>
                        <li class="city-link " data-id="가평군"  href="#"><span>가평군</span></li>
                        <li class="city-link " data-id="고양시"  href="#"><span>고양시</span></li>
                        <li class="city-link" data-id="과천시"  href="#"><span>과천시</span></li>
                        <li class="city-link" data-id="광명시"  href="#"><span>광명시</span></li>
                        <li class="city-link" data-id="광주시"  href="#"><span>광주시</span></li>
                        <li class="city-link" data-id="구리시"  href="#"><span>구리시</span></li>
                        <li class="city-link" data-id="군포시"  href="#"> <span>군포시</span></li>
                        <li class="city-link" data-id="남양주시" href="#"><span>남양주시</span></li>
                        <li class="city-link" data-id="동두천시" href="#"><span>동두천시</span></li>
                        <li class="city-link" data-id="부천시" href="#"><span>부천시</span></li>
                        <li class="city-link" data-id="수원시" href="#"><span>수원시</span></li>
                        <li class="city-link" data-id="안산시" href="#"><span>안산시</span></li>
                        <li class="city-link" data-id="안성시" href="#"><span>안성시</span></li>
                        <li class="city-link" data-id="안양시" href="#"><span>안양시</span></li>
                        <li class="city-link" data-id="양주시" href="#"><span>양주시</span></li>
                        <li class="city-link" data-id="양평군" href="#"><span>양평군</span></li>
                        <li class="city-link" data-id="여주시" href="#"><span>여주시</span></li>
                        <li class="city-link" data-id="연천군" href="#"><span>연천군</span></li>
                        <li class="city-link" data-id="오산시" href="#"><span>오산시</span></li>
                        <li class="city-link" data-id="용인시" href="#"><span>용인시</span></li>
                        <li class="city-link" data-id="의왕시" href="#"><span>의왕시</span></li>
                        <li class="city-link" data-id="의정부시" href="#"><span>의정부시</span></li>
                        <li class="city-link" data-id="이천시" href="#"><span>이천시</span></li>
                        <li class="city-link" data-id="파주시" href="#"><span>파주시</span></li>
                        <li class="city-link" data-id="평택시" href="#"><span>평택시</span></li>
                        <li class="city-link" data-id="포천시" href="#"><span>포천시</span></li>
                        <li class="city-link" data-id="하남시" href="#"><span>하남시</span></li>
                        <li class="city-link" data-id="화성시" href="#"><span>화성시</span></li>
                    </ul>
                    <br>
                    <div class="mainpage-font-small">* 외부링크로 연결됩니다. *</div>
                    <ul style="width:75%; align-items: center">
                        <li style="width:31%" onclick="location.href='https://www.gimpo.go.kr/portal/selectBbsNttList.do?bbsNo=573&key=1283'"><span>김포시</span></li>
                        <li style="width:31%" onclick="location.href='https://www.seongnam.go.kr/prgm/slove/sloveAgentList.do?menuIdx=1000329'"><span>성남시</span></li>
                        <li style="width:31%" onclick="location.href='https://www.si-ru.kr/?inc=store'"><span>시흥시</span></li>
                    </ul>
                </div>
                <form id="cityForm" method="get" action="{% url 'maps:shop_list' %}">
                    <input type="hidden"  id="city" name="city" value="{{ city }}">
                </form>
            </div>

        </div>
    </div>

</body>
</html>