{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <br class="display-when-wide" id="location">
    <details open id="button-in-wide-map" class="display-when-wide">
        <summary>주소 검색</summary>
        <div class="row justify-content-between my-3 address">
            <div class="col-4">
                <select class="form-control city">
                    <option  value="경기도" > 시/군을 선택하세요 </option>
                    <option  value="가평군" {% if city == '가평군' %}selected{% endif %}>가평군</option>
                    <option  value="고양시" {% if city == '고양시' %}selected{% endif %}>고양시</option>
                    <option  value="과천시" {% if city == '과천시' %}selected{% endif %}>과천시</option>
                    <option  value="광명시" {% if city == '광명시' %}selected{% endif %}>광명시</option>
                    <option  value="광주시" {% if city == '광주시' %}selected{% endif %}>광주시</option>
                    <option  value="구리시" {% if city == '구리시' %}selected{% endif %}>구리시</option>
                    <option  value="군포시" {% if city == '덕양구' %}selected{% endif %}>군포시</option>
                    <option  value="남양주시" {% if city == '남양주시' %}selected{% endif %}>남양주시</option>
                    <option  value="동두천시" {% if city == '동두천시' %}selected{% endif %}>동두천시</option>
                    <option  value="부천시" {% if city == '부천시' %}selected{% endif %}>부천시</option>
                    <option  value="수원시" {% if city == '수원시' %}selected{% endif %}>수원시</option>
                    <option  value="안산시" {% if city == '안산시' %}selected{% endif %}>안산시</option>
                    <option  value="안성시" {% if city == '안성시' %}selected{% endif %}>안성시</option>
                    <option  value="안양시" {% if city == '안양시' %}selected{% endif %}>안양시</option>
                    <option  value="양주시" {% if city == '양주시' %}selected{% endif %}>양주시</option>
                    <option  value="양평군" {% if city == '양평군' %}selected{% endif %}>양평군</option>
                    <option  value="여주시" {% if city == '여주시' %}selected{% endif %}>여주시</option>
                    <option  value="연천군" {% if city == '연천군' %}selected{% endif %}>연천군</option>
                    <option  value="오산시" {% if city == '오산시' %}selected{% endif %}>오산시</option>
                    <option  value="용인시" {% if city == '용인시' %}selected{% endif %}>용인시</option>
                    <option  value="의왕시" {% if city == '의왕시' %}selected{% endif %}>의왕시</option>
                    <option  value="의정부시" {% if city == '의정부시' %}selected{% endif %}>의정부시</option>
                    <option  value="이천시" {% if city == '이천시' %}selected{% endif %}>이천시</option>
                    <option  value="파주시" {% if city == '파주시' %}selected{% endif %}>파주시</option>
                    <option  value="평택시" {% if city == '평택시' %}selected{% endif %}>평택시</option>
                    <option  value="포천시" {% if city == '포천시' %}selected{% endif %}>포천시</option>
                    <option  value="하남시" {% if city == '하남시' %}selected{% endif %}>하남시</option>
                    <option  value="화성시" {% if city == '화성시' %}selected{% endif %}>화성시</option>
                    <option  value="김포/성남/시흥" {% if city == '김포/성남/시흥' %}selected{% endif %}>김포/성남/시흥</option>
                </select>
                <br>
            </div>
            <div class="col-4">
                {% if city == '고양시' %}
                <select class="form-control area1">
                    <option  value="" >구를 선택하시오</option>
                    <option  value="덕양구" {% if area1 == '덕양구' %}selected{% endif %}>덕양구</option>
                    <option  value="일산서구" {% if area1 == '일산서구' %}selected{% endif %}>일산서구</option>
                    <option  value="일산동구" {% if area1 == '일산동구' %}selected{% endif %}>일산동구</option>
                </select>
                {% elif city == '수원시'%}
                <select class="form-control area1">
                    <option  value="" >구를 선택하시오</option>
                    <option  value="장안구" {% if area1 == '장안구' %}selected{% endif %}>장안구</option>
                    <option  value="권선구" {% if area1 == '권선구' %}selected{% endif %}>권선구</option>
                    <option  value="팔달구" {% if area1 == '팔달구' %}selected{% endif %}>팔달구</option>
                    <option  value="영통구" {% if area1 == '영통구' %}selected{% endif %}>영통구</option>
                </select>
                {% elif city == '안산시'%}
                <select class="form-control area1">
                    <option  value="" >구를 선택하시오</option>
                    <option  value="상록구" {% if area1 == '상록구' %}selected{% endif %}>상록구</option>
                    <option  value="단원구" {% if area1 == '단원구' %}selected{% endif %}>단원구</option>
                </select>
                {% elif city == '안양시'%}
                <select class="form-control area1">
                    <option  value="" >구를 선택하시오</option>
                    <option  value="만안구" {% if area1 == '만안구' %}selected{% endif %}>만안구</option>
                    <option  value="동안구" {% if area1 == '동안구' %}selected{% endif %}>동안구</option>
                </select>
                {% elif city == '용인시'%}
                <select class="form-control area1">
                    <option  value="" >구를 선택하시오</option>
                    <option  value="처인구" {% if area1 == '처인구' %}selected{% endif %}>처인구</option>
                    <option  value="기흥구" {% if area1 == '기흥구' %}selected{% endif %}>기흥구</option>
                    <option  value="수지구" {% if area1 == '수지구' %}selected{% endif %}>수지구</option>
                </select>
                {% else %}
                    <select class="form-control area1">
                        <option  value="" >구를 선택하시오</option>
                    </select>
                {% endif %}
            </div>
            <div class="col-4 area_list">
                {% if area1_list %}
                <select class="form-control area2">
                    <option  value="" >읍/면/동을 선택하시오</option>
                    {% for area in area1_list %}
                    <option  value="{{area.addr2}}">{{area.addr2}}</option>
                    {% endfor %}
                    {% if area2 %}
                    <option  value="{{area.addr2}}" {% if area2 %}selected{% endif %}>{{area2}}</option>
                    {% endif %}
                </select>
                {% else %}
                <select class="form-control area2">
                    <option  value="" >읍/면/동을 선택하시오</option>
                </select>
                {% endif %}
            </div>
             <div class="col-8 display-when-wide input-group" style="width:80%; ">
                <input onkeyup="enterkey();" type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}"placeholder="상호명을 입력하세요">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                </div>
            </div>
        </div>
    </details>

    <div class="row justify-content-between my-3" style="">
        <div class="shoplist-list-col-side"></div>
        <div id="shoplist-list-map-div"  style="">

            <div id="shoplist-list-map-object" style="width:100%;">
                <details open class="display-when-narrow" id="button-in-narrow-map">
                    <summary>주소 검색</summary>
                    <div class="row justify-content-between my-3 address" >
                        <div class="col-4">
                            <select class="form-control city">
                                <option  value="경기도" > 시/군을 선택하세요 </option>
                                <option  value="가평군" {% if city == '가평군' %}selected{% endif %}>가평군</option>
                                <option  value="고양시" {% if city == '고양시' %}selected{% endif %}>고양시</option>
                                <option  value="과천시" {% if city == '과천시' %}selected{% endif %}>과천시</option>
                                <option  value="광명시" {% if city == '광명시' %}selected{% endif %}>광명시</option>
                                <option  value="광주시" {% if city == '광주시' %}selected{% endif %}>광주시</option>
                                <option  value="구리시" {% if city == '구리시' %}selected{% endif %}>구리시</option>
                                <option  value="군포시" {% if city == '덕양구' %}selected{% endif %}>군포시</option>
                                <option  value="남양주시" {% if city == '남양주시' %}selected{% endif %}>남양주시</option>
                                <option  value="동두천시" {% if city == '동두천시' %}selected{% endif %}>동두천시</option>
                                <option  value="부천시" {% if city == '부천시' %}selected{% endif %}>부천시</option>
                                <option  value="수원시" {% if city == '수원시' %}selected{% endif %}>수원시</option>
                                <option  value="안산시" {% if city == '안산시' %}selected{% endif %}>안산시</option>
                                <option  value="안성시" {% if city == '안성시' %}selected{% endif %}>안성시</option>
                                <option  value="안양시" {% if city == '안양시' %}selected{% endif %}>안양시</option>
                                <option  value="양주시" {% if city == '양주시' %}selected{% endif %}>양주시</option>
                                <option  value="양평군" {% if city == '양평군' %}selected{% endif %}>양평군</option>
                                <option  value="여주시" {% if city == '여주시' %}selected{% endif %}>여주시</option>
                                <option  value="연천군" {% if city == '연천군' %}selected{% endif %}>연천군</option>
                                <option  value="오산시" {% if city == '오산시' %}selected{% endif %}>오산시</option>
                                <option  value="용인시" {% if city == '용인시' %}selected{% endif %}>용인시</option>
                                <option  value="의왕시" {% if city == '의왕시' %}selected{% endif %}>의왕시</option>
                                <option  value="의정부시" {% if city == '의정부시' %}selected{% endif %}>의정부시</option>
                                <option  value="이천시" {% if city == '이천시' %}selected{% endif %}>이천시</option>
                                <option  value="파주시" {% if city == '파주시' %}selected{% endif %}>파주시</option>
                                <option  value="평택시" {% if city == '평택시' %}selected{% endif %}>평택시</option>
                                <option  value="포천시" {% if city == '포천시' %}selected{% endif %}>포천시</option>
                                <option  value="하남시" {% if city == '하남시' %}selected{% endif %}>하남시</option>
                                <option  value="화성시" {% if city == '화성시' %}selected{% endif %}>화성시</option>
                                <option  value="김포/성남/시흥" {% if city == '김포/성남/시흥' %}selected{% endif %}>김포/성남/시흥</option>
                            </select>
                        </div>
                        <div class="col-4">
                            {% if city == '고양시' %}
                            <select class="form-control area1">
                                <option  value="" >구를 선택하시오</option>
                                <option  value="덕양구" {% if area1 == '덕양구' %}selected{% endif %}>덕양구</option>
                                <option  value="일산서구" {% if area1 == '일산서구' %}selected{% endif %}>일산서구</option>
                                <option  value="일산동구" {% if area1 == '일산동구' %}selected{% endif %}>일산동구</option>
                            </select>
                            {% elif city == '수원시'%}
                            <select class="form-control area1">
                                <option  value="" >구를 선택하시오</option>
                                <option  value="장안구" {% if area1 == '장안구' %}selected{% endif %}>장안구</option>
                                <option  value="권선구" {% if area1 == '권선구' %}selected{% endif %}>권선구</option>
                                <option  value="팔달구" {% if area1 == '팔달구' %}selected{% endif %}>팔달구</option>
                                <option  value="영통구" {% if area1 == '영통구' %}selected{% endif %}>영통구</option>
                            </select>
                            {% elif city == '안산시'%}
                            <select class="form-control area1">
                                <option  value="" >구를 선택하시오</option>
                                <option  value="상록구" {% if area1 == '상록구' %}selected{% endif %}>상록구</option>
                                <option  value="단원구" {% if area1 == '단원구' %}selected{% endif %}>단원구</option>
                            </select>
                            {% elif city == '안양시'%}
                            <select class="form-control area1">
                                <option  value="" >구를 선택하시오</option>
                                <option  value="만안구" {% if area1 == '만안구' %}selected{% endif %}>만안구</option>
                                <option  value="동안구" {% if area1 == '동안구' %}selected{% endif %}>동안구</option>
                            </select>
                            {% elif city == '용인시'%}
                            <select class="form-control area1">
                                <option  value="" >구를 선택하시오</option>
                                <option  value="처인구" {% if area1 == '처인구' %}selected{% endif %}>처인구</option>
                                <option  value="기흥구" {% if area1 == '기흥구' %}selected{% endif %}>기흥구</option>
                                <option  value="수지구" {% if area1 == '수지구' %}selected{% endif %}>수지구</option>
                            </select>
                            {% else %}
                                <select class="form-control area1">
                                    <option  value="" >구를 선택하시오</option>
                                </select>
                            {% endif %}
                        </div>
                        <div class="col-4 area_list">
                            {% if area1_list %}
                            <select class="form-control area2">
                                <option  value="" >읍/면/동을 선택하시오</option>
                                {% for area in area1_list %}
                                <option  value="{{area.addr2}}">{{area.addr2}}</option>
                                {% endfor %}
                                {% if area2 %}
                                <option  value="{{area.addr2}}" {% if area2 %}selected{% endif %}>{{area2}}</option>
                                {% endif %}
                            </select>
                            {% else %}
                            <select class="form-control area2">
                                <option  value="" >읍/면/동을 선택하시오</option>
                            </select>
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-group">
                    <input onkeyup="enterkey2();" type="text" class="form-control kw2" value="{{ kw2|default_if_none:'' }}"placeholder="상호명을 입력하세요">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btn_search2">찾기</button>
                        </div>
                    </div>
                </details>
                <div class="map"  >
                {{ map | safe}}
                </div>
            </div>
        </div>

        {% if city == "김포/성남/시흥" %}
        <div id="etc_list">
            <br><br><br>
                <div style="font-size:20px; text-align:center; font-family:SBAggroB;"> 김포시, 성남시, 시흥시는 외부링크로 연결됩니다.</div>
            <div class="row justify-content-around" style="margin-top:10%; text-align:center; font-family:SBAggroB;">
                <div class="etc_list" style="border: 1px solid;"><a href="https://www.gimpo.go.kr/portal/selectBbsNttList.do?bbsNo=573&key=1283"><img src="{% static '김포시.png' %}"><br>김포시 가맹점 찾기</a></div>
                <div class="etc_list" style="border: 1px solid;"><a href="https://www.seongnam.go.kr/prgm/slove/sloveAgentList.do?menuIdx=1000329"><img src="{% static '성남시.png' %}"><br>성남시 가맹점 찾기</a></div>
                <div class="etc_list" style="border: 1px solid;"><a href="https://www.si-ru.kr/?inc=store"><img src="{% static '시흥시.png' %}"><br>시흥시 가맹점 찾기</a></div>
            </div>
        </div>
        <div class="shoplist-list-col-side"></div>
        {% else %}
        <div class="shoplist-list-col-small"></div>
        <div id="shoplist-list-list-div" >
            {% if messages %}
            <div class="alert alert-danger my-3" role="alert">
                {% for message in messages %}
                <strong>{{ message.message }}</strong>
                {% endfor %}
            </div>
        {% endif %}
            <table class= "table table-striped shop_table" >
                <thead>
                <tr class="text-center">
                    <th class="shoplist-list-table-name">상호명</th>
                    <th class="shoplist-list-table-addr">주소</th>
                    {% if so == '추천순' %}
                    <th class="shoplist-list-table-recom1"><a href="#" class="so" data-so="이름순" title="이름순 정렬하기"><span class="sort">추천▲</span></a></th>
                    {% else %}
                    <th class="shoplist-list-table-recom2"><a href="#" class="so" data-so="추천순" title="추천순 정렬하기"><span class="sort">추천</span></a></th>
                    {% endif %}

                </tr>
                </thead>
                <tbody>
                {% if shop_list %}
                {% for shop in shop_list %}
                <tr class="text-center ">
                    <td class="table_a shoplist-list-table-name" style="vertical-align : middle;">
                        <a href="{% url 'maps:naver' shop.id %}" data-id="{{ shop.id }}" class="naver">{{shop.name}}</a>
                    </td>
                    <td class="table_a shoplist-list-table-addr" style="vertical-align : middle;"><a href="#" data-id="{{ shop.id }}"  class="col-7 addr_map">{{shop.addr2}}</a></td>
                        {%if user.is_authenticated %}
                        <td class="table_a shoplist-list-table-recom1" >
                            <!-- 추천영역 -->
                            <div style="width:50px; border:1px solid gray;  margin-left:auto; margin-right:auto;"><span class="" style="">{{shop.mark.count}}  </span></div>
                            <a href="#" data-save="{{ shop.id }}" class="save_btn"><i class="fas fa-thumbs-up recommend" ><span class="tooltiptext">추천하기</span></i></a>
                             </td>
                        {% else %}
                        <td class="table_a shoplist-list-table-recom2" >
                            <div style="width:50px; border:1px solid gray;  margin-left:auto; margin-right:auto;"><span class="" style="">{{shop.mark.count}}</span></div>
                            <a href="{% url 'common:login' %}?next={{request.path}}" data-save="#" class="save_btn">
                                <i class="fas fa-thumbs-up recommend" >
                                    <span class="tooltiptext">추천하기</span>
                                </i>
                            </a>
                        </td>
                        {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    {%if city == '경기도' %}
                    <td colspan="3">주소를 선택해주세요.</td>
                    {% else %}
                    <td colspan="3">일치하는 항목이 없습니다.</td>
                    {% endif %}
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="shoplist-list-col-side"></div>
    </div>

        <!-- 페이징처리 시작 -->
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 paging">
            <!-- 이전 페이지 -->
            <ul>
            {% if shop_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ shop_list.previous_page_number}}" href="#"><</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#"><</a>
                </li>
                {% endif %}
                <!-- 페이지리스트 -->
                {% for page_number in shop_list.paginator.page_range %}
                {% if page_number >= shop_list.number|add:-2 and page_number <= shop_list.number|add:2 %}
                    {% if page_number == shop_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
                {% endfor %}
                <!-- 다음페이지 -->
                {% if shop_list.has_next %}
                <li class="page-item" >
                    <a class="page-link" data-page="{{ shop_list.next_page_number }}" href="#">></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">></a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-2"></div>
        {% endif %}
    </div>
        <!-- 페이징처리 끝 -->

        <form id="searchForm" method="get" action="{% url 'maps:shop_list' %}">
            <input type="hidden" id="city" name="city" value="{{ city }}">
            <input type="hidden" id="area1" name="area1" value="{{ area1 }}">
            <input type="hidden"  id="area2" name="area2" value="{{ area2 }}">
            <input type="hidden" id="save" name="save" value="{{ save }}">
            <input type="hidden" id="marker" name="marker" value="{{ marker }}">
            <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
            <input type="hidden" id="page" name="page" value="{{ page }}">
            <input type="hidden" id="so" name="so" value="{{ so }}">
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
function getDisplayInfo() {
    var size = {
      width: window.innerWidth || document.body.clientWidth,
      height: window.innerHeight || document.body.clientHeight
    }
    return size;
}


function enterkey(){
    if(window.event.keyCode==13){
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    }
}

function enterkey2(){
    if(window.event.keyCode==13){
        $("#kw").val($(".kw2").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    }
}

var offset = $('#location').offset(); //선택한 태그의 위치를 반환
$('html').animate({scrollTop : offset.top}, 100);



$(document).ready(function(){
    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });

     $("#btn_search2").on('click', function() {
        $("#kw").val($(".kw2").val());
        $("#page").val(1);  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        $("#searchForm").submit();
    });



    $(".addr_map").on('click',function() {
        marker = $("#marker").val($(this).data("id"));
        $("#searchForm").submit();
    });



    $(".save_btn").on('click',function() {
        if(confirm("정말로 추천하시겠습니까?")) {
        $("#save").val($(this).data("save"));
        $("#searchForm").submit();
        }
        $("#save").val("");
    });

    $(".city").on('change',function() {
        $("#city").val($(this).val());
        $("#area1").val("");
        $("#area2").val("");
        $("#page").val(1);
        $("#searchForm").submit();
    });

    $(".area1").on('change', function() {
        $("#area1").val($(this).val());
        $("#area2").val("");
        $("#page").val(1);
        $("#searchForm").submit();
    });

    $(".area2").on ('change', function(){
        $("#area2").val($(this).val());
        $("#searchForm").submit();
    });

    $(".so").on('click',function(){
        $("#so").val($(this).data("so"));
        $("#page").val(1);
        $("#searchForm").submit();
    });
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    })
});




</script>
{% endblock %}